@import "./abstracts/varibels.scss";

body {
    background-color: $color-body;
    // width: 1920px;
    // margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}