.main__myClients {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  padding: 0 70px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 

  @media screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    grid-template-columns: 1fr ;
 
  }
}

.main__myClients-text {
  display: flex;
  justify-content: center;
    color: #252525;
    font-family: Gilroy;
    font-size: 212px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 80px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      font-size: 150px;
    }
  }


.main__myClients-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 450px;
  height: auto;
  padding: 30px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 938px ;
 
  }
}
.main__myClients-block-text1 {
  color: #333;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px; /* 110% */
}

.main__myClients-block-text2 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.main__myClients-blockInblock {
  display: flex;
  flex-direction: row;
}

.main__myClients-blockInblock-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin-left: 20px;
}

.main__myClients-blockInblock-text1 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
}
.main__myClients-blockInblock-text2 {
  @extend .main__myClients-blockInblock-text1;
  font-weight: 400;
}
