.main__contact {
  display: flex;
  flex-direction: row;

  padding: 0 70px;
  gap: 40px;
  margin-top: 100px;
  margin-bottom: 100px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-direction: column;
  }
}

.main__contact-textContact {
  color: #333;
  font-family: Gilroy;
  font-size: 155px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding-right: 150px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 80px;
    text-align: center;
    padding-right: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 150px;
    text-align: center;
    padding-right: 0px;
  }
}
.main__contact-block-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 30px;

@media screen and (min-width: 320px) and (max-width: 767px) {
text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  text-align: center;
}
}
.main__contact-block-text5 {
  color: #252525;
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 50px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 64px;
  }
}
.main__contact-block-text6 {
  color: #252525;
  font-family: Gilroy-Medium;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 34px;
  }
}

.main__contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  gap: 10px;
  width: 215px;
  height: 52px;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 420px;
    margin-left: 50px;
  }
  
}
