footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 70px;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
 
  div {
    color: #333;
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span {
      color: #333;
      font-family: Gilroy-SemiBold;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  section{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
