.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  
}
.header__wrapper {
  margin-left: 70px;
  margin-right: 20px;
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.header__wrapper-logo-text {
  display: flex;
  justify-content: center;
  text-decoration: none;

  img {
    width: 91px;
    height: 35px;
    margin-right: 10px;
  }

  div {
    display: flex;
    padding-top: 0px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }

    b {
      color: #000;
      text-align: center;
      font-family: Gilroy;
      font-size: 35px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.7px;
      margin-right: 8px;
    }

    strong {
      color: #000;
      font-family: Gilroy-Medium;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.7px;
      text-transform: uppercase;
      margin-right: 2px;
    }

    span {
      color: #000;
      font-family: Gilroy;
      font-size: 25px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

.header__menu {
  color: #252525;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__textbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.header__textbox1 {
  color: #252525;
  font-family: Gilroy-SemiBold;
  font-size: 150px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 37px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 100px;
  }
}

.header__textbox2 {
  color: #252525;
  font-family: Gilroy;
  font-size: 150px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 37px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 100px;
  }
}

.headeer__arrow {
  display: flex;
  justify-content: center;
align-items: center;

  margin-top: 30px;
  margin-bottom: 40px;
}

.header__photo {
  width: 100%;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}
.header__photo-mob {
  display: none;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: block;
    width: 100%;

  }
}
.header__text-about-wrapper {
  display: flex;
  flex-direction: row;
  padding: 70px 0 70px 70px;
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    flex-direction: column;
    padding: 0px;
  }
}
.header__text-about {
  color: #252525;
  font-family: Gilroy;
  font-size: 62px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 70px;
  text-align: justify;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;
    margin-right: 0px;
    font-size: 32px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    text-align: center;
    margin-right: 0px;
    font-size: 52px;
  }

  span {
    @extend .header__text-about;
    font-weight: 600;
  }
}

.header__lincs {
  display: flex;
  background: #252525;
  width: 485px;
  padding: 60px 70px 60px 0px;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  flex-shrink: 0;
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    width: calc(100% - 30px);
    padding: 40px 30px 40px 0px;
  }

  p {
    color: #fff;
    text-align: right;
    font-family: Gilroy-Medium;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 100% */
    text-transform: uppercase;
  }

  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }
}

.header__logos {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 140px);
  padding: 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  @media screen and (min-width: 320px) and (max-width: 767px) {

    justify-content: center;
      gap: 20px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {

    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  div {
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: white;

    svg {
      padding: 15px 40px 15px 40px;
    }
  }
}
