@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import "./header";

.main__back-whatIdo-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-direction: column;
  }
}

.main__back {
  background: url(..//../img/clients/Image.png), lightgray 50% / cover no-repeat;
  width: 980px;
  flex-shrink: 0;
  align-self: stretch;
  background-repeat: no-repeat;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 991px;
    width: calc(100% - 0px);
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    height: 478px;
    width: calc(100% - 0px);
  }
}

.main__whatIdo {
  display: flex;
  flex-direction: column;
  padding: 70px 70px 70px 111px;

  @media screen and (min-width: 320px) and (max-width: 1200px) {
        gap: 10px;
    align-items: center;
  }

  .main__whatIdo-text {
    color: #252525;
    font-family: Gilroy;
    font-size: 140px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 80px;
    }
  }
}

.main__whatIdo-block1 {
  div {
    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 35px;
    }
  }
  div::before {
    content: "01 ";
    font-weight: 400;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 35px;
    }
  }

  p {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
}

.main__whatIdo-block2 {
  @extend .main__whatIdo-block1;
  div::before {
    content: "02 ";
    font-weight: 400;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 35px;
    }
  }
}
.main__whatIdo-block3 {
  @extend .main__whatIdo-block1;
  div::before {
    content: "03 ";
    font-weight: 400;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 35px;
    }
  }
}
.main__whatIdo-block4 {
  @extend .main__whatIdo-block1;
  div::before {
    content: "04 ";
    font-weight: 400;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 35px;
    }
  }
}

.main__whatIdo-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 40px 0 40px 0;
}

.main__selected-block {
  display: flex;
  p {
    color: #252525;
    text-align: center;
    font-family: Gilroy;
    font-size: 180px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;
    margin: 70px 70px 50px 70px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 80px;
      letter-spacing: 3.2px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      font-size: 150px;
      letter-spacing: 6px;
    }
  }
}
.main__galarry {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // gap: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 0 70px;
  a {
    text-decoration: none;
  }

  @media screen and (min-width: 320px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    justify-items: center
  }
}
.main__galarry-block {
  width: 567px;
  height: 567px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 417px;
    height: 417px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 931px;
height: 931px;
  }
}

.select-block{
  @media screen and (min-width: 320px) and (max-width: 767px) {
    
    height: 198px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {

height: 209px;
  }

}
.main__button {
  display: flex;
  align-items: center;
  width: 162px;
  height: 52px;
  padding: 10px 30px;
  gap: 10px;
  border-radius: 50px;
  background: #252525;
  color: white;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
}

.main__galarry-block-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.main__galarry-block-text1 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main__galarry-buttons {
  display: flex;
  flex-direction: row;
}
.main__galarry-block-text2 {
  display: flex;
  padding: 15px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #fff;
  color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__galarry-block-text3 {
  @extend .main__galarry-block-text2;
  margin-left: 30px;
}

.main__button-allGallary-wrapp {
  display: flex;
  justify-content: center;
}
.main__button-allGallary {
  @extend .main__button;
  background: white;
  color: #000;
  padding: 15px 60px;
  width: 195px;
  margin-top: 70px;
  margin-bottom: 100px;
}
