.main__galarry-tiam {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  align-items: center;
  justify-content: space-evenly;
  a {
    text-decoration: none;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 120px;
  }
}

.main__galarry-tiam-text {
  display: flex;
  justify-content: center;
  color: #252525;
  font-family: Gilroy;
  font-size: 212px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 80px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 150px;
  }
}

.main__galarry-tiam-block {
  display: flex;
  width: 415px;
  padding: 30px 0px;
  flex-direction: column;
  justify-content: center;

  gap: 30px;
  flex-shrink: 0;
  align-self: stretch;
}

.main__galarry-tiam-block-text1 {
  color: #333;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.main__galarry-tiam-block-text2 {
  color: #333;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__galarry-tiam-block-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;

  gap: 10px;
}

.main__galarry-tiam-block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 870px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 438px;
    text-align: center;
    margin-left: -110px;
  }
}

.main__galarry-tiam-block-text3 {
  color: #333;
  font-family: Gilroy-Regular;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 30px;
  }
}

.main__galarry-tiam-block-text4 {
  color: #333;
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 40px;
  }
}
.galarry-tiam-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 185px;
  height: 52px;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 420px;
  }
}
